name: Run Tests

on:
  push:
    branches: ["main"]
    pull_requests:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build containers
        run: docker compose Build

      - name: Run Tests
        run: docker compose run --rm app pytest -q
